bin/config/imports_settings.ini
bin/config/settings.ini
config/conf_gn_module.toml
frontend/app/module.config.ts
frontend/node_modules
frontend/package.json
frontend/tsconfig.json
log/*
var/

*.egg-info
__pycache__
*.pyc
.vscode
