.btn btn-warning {
    float: right; 
}

.modif {
    display: flex; 
    justify-content: space-between;
}



.info {
    font-size: 18px;
    font-family: Verdana; 
    font-weight: bold; 
}

.nbGrid {
    padding-left: 10px;
}

