<div class="row row-0">
   <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
      <pnx-map height="80vh">
         <pnx-geojson #geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="zps">
         </pnx-geojson>
       </pnx-map>
   </div>
 
        
   <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
      <h5> <i class="fa fa-edit"> <b> Editer cette visite </b></i></h5>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
         <div  class="list-group-item">
            <i class="fa fa-map-marker" style="font-size:18px" > Zone de prospection:  <span class="info"> {{ idSite }} </span>  </i> 
         </div>
         
         <div  class="list-group-item"> 
            <i class="fa fa-leaf" style="font-size:18px"> Espèce prospectée : <span class="info"> {{nomTaxon}} </span> </i>   
         </div>         
         
         <div  class="list-group-item">  
            <i class="fa fa-tags" style="font-size:18px">  Identifiant de la visite : <span class="info"> {{idVisit}} </span> </i> 
         </div> 


         <div class=" list-group-item modif">
               <div> <i class="fa fa-hourglass-2" style="font-size:18px"> Date de la dernière visite :  </i> </div>
               <div class="info" id="ancienDate"> {{date}}   </div>
               <button id="modifDate" data-toggle="collapse" class="btn btn-outline-warning btn-sm fa fa-edit"
               data-target="#newDate"
               aria-expanded="false" aria-controls="contexte">
                  <i aria-hidden="true">Modifier la date</i> 
               </button>
         </div>
         <div class="row row-0 collapse" id="newDate">
            <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 padding-sm">
               <pnx-date [parentFormControl]="modifGrid.controls.visit_date" 
               label="Date de la visite"> </pnx-date>
            </div>
         </div>

         <div class=" list-group-item modif">
               <div> <i class="fa fa-group" style="font-size:18px"> Observateur :  </i> </div>
               <div class="info" id="ancienObs" *ngFor="let obs of tabObserver, let j=index"> {{obs}}
                        <button  class="btn btn-outline-secondary btn-sm" (click)="onDeleteObs(j)"> 
                                    <i class="fa fa-remove" style="font-size:10px"> </i> </button>   </div>
               <button id="modifObs" data-toggle="collapse" class="btn btn-outline-warning btn-sm fa fa-edit"
               data-target="#newObserver"
               aria-expanded="false" aria-controls="contexte">
                  <i aria-hidden="true"> Modifier l'observateur</i>
               </button>
         </div>
         <div class="row row-0 collapse" id="newObserver">
            <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 padding-sm">
                  <pnx-observers [parentFormControl]="modifGrid.controls.cor_visit_observer" 
                  idMenu="10" label="Observateur"> </pnx-observers>
            </div>
         </div>

         <div class=" list-group-item modif">
               <div> <i class="fa fa-warning" style="font-size:18px"> Type(s) de perturbations :  </i> </div>
               <div class="info" id="ancienPer"  *ngFor="let per of namePertur, let i=index" > 
                  {{per}} <button  class="btn btn-outline-secondary btn-sm" (click)="onDeletePer(i)"> 
                     <i class="fa fa-remove" style="font-size:10px"> </i> </button>  
               </div>
               <button id="modifPer" data-toggle="collapse" class="btn btn-outline-warning btn-sm fa fa-edit"
               data-target="#newPerturs"
               aria-expanded="false" aria-controls="contexte">
                  <i aria-hidden="true"> Modifier le(s) perturbation(s)</i>
               </button>
         </div>
         <div class="row row-0 collapse" id="newPerturs">
            <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 padding-sm">
                  <pnx-nomenclature-multi-select 
                  [parentFormControl]="modifGrid.controls.cor_visit_perturbation"
                  codeNomenclatureType="118">
                  </pnx-nomenclature-multi-select>
                  
            </div>
         </div>

         <div class="list-group-item">
               <div> <i class="fa fa-paw" style="font-size:18px"> Maille(s) présente(s) d'espèce : </i> </div>
               <div class="info nbGrid" id="ancienPres"> {{comptePresent}} </div>  
               
         </div>
       
         <div class="list-group-item">  
               <div> <i class="fa fa-ban" style="font-size:18px">  Maille(s) absente(s) d'espèce :  </i> </div> 
               <div class="info nbGrid" id="ancienAbs">  {{compteAbsent}}  </div>                           
         </div>

        
      </div>

      <div class="modal-footer">
                
            <button type="button" class="btn btn-primary btn-sm" (click)="onModif()"> Enregistrer les modifications </button>
            <button class="btn btn-success btn-sm" (click)="onVisual()"> Visualiser les visites précédentes</button>
            
            
      </div> 
      
      
      {{modifGrid.value | json}}
    </div>
 </div>
                