:host ::ng-deep .ngx-datatable.material {
  box-shadow: none !important;

  .datatable-body {
    .progress-linear {
      position: fixed !important;
    }

    .datatable-body-row {
      .actions-cell {
        display: flex;
        align-items: center;
      }
    }
  }

  .datatable-footer {
    .page-count {
      flex-basis: 30% !important;
      line-height: 1.5em;
      height: 1.5em;
      padding: 0 0.2rem;
    }

    .datatable-pager {
      flex-basis: 70% !important;
      margin: 0;
      padding: 0 0.2rem;
    }
  }
}

:host ::ng-deep .single-selection .datatable-body-row.active .datatable-row-group {
  background-color: rgb(154, 217, 247) !important;
}

fieldset {
  padding: 0.35em 0.625em 0.75em !important;
  border: 1px solid silver !important;
  margin: 0 2px !important;
  border-radius: 3px;
}

legend {
  width: auto;
  font-size: inherit;
}
