<div class="row mx-0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <pnx-map
      height="91vh"
      [center]="configService.get('zoom_center')"
      [zoom]="configService.get('zoom_level')"
    >
      <pnx-geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="sites"> </pnx-geojson>
    </pnx-map>
  </div>

  <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 px-0">
    <div class="card-header pt-0 px-0 pb-1">
      <mft-breadcrumbs></mft-breadcrumbs>
      <h3 class="pl-3">Liste des sites</h3>
    </div>

    <div class="card-body overflow-auto pb-0 px-2">
      <form>
        <fieldset>
          <legend class="px-2">
            <mat-icon>tune</mat-icon>
            Filtres
          </legend>

          <div class="row">
            <div class="col">
              <label for="taxonFilter" class="mt-2 mb-0">
                <small>
                  <mat-icon inline>local_florist</mat-icon>
                  {{ 'Taxon.Taxon' | translate }}
                </small>
              </label>
              <pnx-taxonomy
                #taxon
                [parentFormControl]="filterForm.controls.taxonFilter"
                [idList]="configService.get('id_list_taxon')"
                [charNumber]="3"
                [listLength]="20"
                (onChange)="onTaxonChanged($event)"
                (onDelete)="onTaxonDeleted($event)"
                matTooltip="Commencez à saisir les 3 premiers caractères
                  d'un nom de taxon présent dans la liste pré-définie du module."
                matTooltipPosition="above"
              >
              </pnx-taxonomy>
            </div>

            <div class="col">
              <label for="yearFilter" class="mt-2 mb-0">
                <small>
                  <mat-icon inline>calendar_month</mat-icon>
                  Année de visite
                </small>
              </label>
              <select
                class="form-control form-control-sm"
                name="year-filter"
                [formControl]="filterForm.controls.yearFilter"
              >
                <option [ngValue]="null"> -- Toutes les années --</option>
                <option *ngFor="let year of yearsList" [value]="year" [innerHTML]="year">
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="organismFilter" class="mt-2 mb-0">
                <small>
                  <mat-icon inline>domain</mat-icon>
                  Organisme
                </small>
              </label>
              <select
                class="form-control form-control-sm"
                name="organism-filter"
                [formControl]="filterForm.controls.organismFilter"
              >
                <option [ngValue]="null"> -- Tous les organismes -- </option>
                <option
                  *ngFor="let organism of organismsList"
                  [value]="organism.id"
                > {{ organism.name }} </option>
              </select>
            </div>

            <div class="col">
              <label for="municipalityFilter" class="mt-2 mb-0">
                <small>
                  <mat-icon inline>map</mat-icon>
                  Commune
                </small>
              </label>
              <select
                class="form-control form-control-sm"
                name="municipality-filter"
                [formControl]="filterForm.controls.municipalityFilter"
              >
                <option [ngValue]="null"> -- Toutes les communes -- </option>
                <option
                  *ngFor="let municipality of municipalitiesList"
                  [value]="municipality.id"
                > {{ municipality.name }} </option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>

      <div class="mx-0 mb-0 mt-3">
        <ngx-datatable
          #dataTable
          class="material striped margin-top-xs table-size expandable"
          [loadingIndicator]="loadingIndicator"
          [rows]="filteredData"
          [headerHeight]="35"
          [footerHeight]="40"
          [rowHeight]="rowHeight"
          [columnMode]="'force'"
          [selected]="mapListService.selectedRow"
          [selectionType]="'single'"
          (select)="mapListService.onRowSelect($event)"
          [rowClass]="mapListService.getRowClass"
          [count]="filteredData.length"
          [limit]="rowNumber"
          [messages]="configService.get('zp_message')"
        >
          <ngx-datatable-column
            *ngFor="let col of configService.get('default_zp_columns')"
            [name]="col.name"
            [prop]="col.prop"
            [maxWidth]="col.width"
          >
            <ng-template let-column="col" ngx-datatable-header-template>
              <span [title]="col.title">{{ col.name }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            cellClass="actions-cell"
            maxWidth="90"
            name="Voir"
            title="Accéder aux visites du site"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button
                type="button"
                class="btn btn-info btn-sm fa fa-eye"
                (click)="onInfo(row.id_base_site)"
                title="Visualiser"
              ></button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>

    <div id="after-datatable" class="card-footer">
      <div class="row">
        <div class="col">
          <pnx-modal-download
            [pathDownload]="configService.getExportUrl()"
            [exportFormat]="configService.get('export_available_format')"
            [queryString]="storeService.queryString"
            labelButton="Télécharger les visites"
          >
          </pnx-modal-download>
        </div>
      </div>
    </div>
  </div>
</div>
