:host /deep/ .ngx-datatable.material {
  box-shadow: none !important;

  .datatable-body {
    .progress-linear {
      position: fixed !important;
    }
    .datatable-body-row {
      .actions-cell {
        display: flex;
        align-items: center;
      }
    }
  }

  .datatable-footer {
    .page-count {
      flex-basis: 30% !important;
      line-height: 1.5em;
      height: 1.5em;
      padding: 0 0.2rem;
    }
    .datatable-pager {
      flex-basis: 70% !important;
      margin: 0;
      padding: 0 0.2rem;
    }
  }
}

:host /deep/ .single-selection .datatable-body-row.active .datatable-row-group {
  background-color: rgb(154, 217, 247) !important;
}

.inputSearch {
  margin-top: 2px;
  width: 120%;
  height: 27px;
  border: none;
}

.list-sft {
  max-height: 89vh;
}

#bottom-search {
  margin-bottom: 15px;
}

.box-shadow {
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#end-btn {
  margin-top: 15px;
  margin-bottom: 30px;
}

.format-btn {
  margin-left: 5px;
}

.export-btn {
  display: block;
  margin: auto;
}
