.ngx-datatable.material {
  max-height: 79vh !important;
  box-shadow: none !important;
  overflow-y: scroll;
}

// #blocSearch {
//     display: flex;
//     justify-content: space-between
// }
.inputSearch {
  margin-top: 2px;
  width: 120%;
  height: 27px;

  // background-color: transparent;
  border: none;

  // border-bottom: 1px #181818
}

:host /deep/ .single-selection .datatable-body-row.active .datatable-row-group {
  background-color: rgb(154, 217, 247) !important;
}

.searchZP {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-right: 100px;
}

.box-shadow {
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#end-btn {
  margin-top: 15px;
  margin-bottom: 30px;
}

.format-btn {
  margin-left: 5px;
}

.export-btn {
  display: block;
  margin: auto;
}
