<div class="row row-0">
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
      <pnx-map
         height="95vh"
         [center]= "[44.982667966765845, 6.062455200884894]"
         [zoom]="12">
            <pnx-geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="zps">
            </pnx-geojson>
      </pnx-map>
   </div>

   



   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container ">
      <h3> Zones de prospection</h3>
      
     
      <div id="blocSearch" class="row row-0 "> 
         <div class="searchZP"> 
               <small> Rechercher selon taxon </small>
               <input 
               [(ngModel)]="searchTaxon" (ngModelChange)="onSearchTaxon($event)" class="inputSearch" >
         </div>
         
         <div class="searchZP"> 
               <small> Rechercher selon l'année </small>
               <input [(ngModel)]="searchDate" (ngModelChange)="onSearchDate($event)" class="inputSearch" >
         </div>

         <div class="searchZP"> 
               <small> Rechercher selon l'organisme </small>
               <select class="form-control form-control-sm" id="monSelect"
               [(ngModel)]="searchOrga" (ngModelChange)="onSearchOrganisme($event)">
                    <option [ngValue]="null" > -- Sélectionnez un filtre -- </option>
                    <!-- <option *ngFor="let label of tabTestTaxon"> {{label}} </option>  -->
                    <option *ngFor="let label of tabOrganism"> {{label}} </option> 
                    <option> test 1 </option>
                    <option> test 2 </option>
              </select>
                
               <!-- <select>
                   <option  value="orga">
                      
                   </option>
               </select> -->
               <!-- <input [(ngModel)]="searchOrga" (ngModelChange)="onSearchOrganisme($event)" class="inputSearch" > -->

         </div>

      </div>
 

      <ngx-datatable
      #table
      class="material"
      [rows]="filteredData"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [scrollbarV]="false"
      [draggable]="false" 
      [columnMode]="'force'" 
      [selected]="mapListService.selectedRow"
      [externalPaging]="false" 
      [selectionType]="'single'"
      (select)="mapListService.onRowSelect($event)"
      [messages]="message"
      [rowClass]="mapListService.getRowClass"
      [externalSorting]="true"
      [offset]="mapListService.page.pageNumber"
      [limit]="mapListService.page.size"
      [rowClass]="mapListService.getRowClass"
      [sortType]="single" 
      (sort)=onSort($event)
      [reorderable]="true"
     
      >
      <!-- [sorts]="sort" -->

         <ngx-datatable-column *ngFor="let col of columns"  [sortable]="true" [name]="col.name" [prop]="col.prop" >
               
            
         </ngx-datatable-column>
         <!-- <ngx-datatable-column name="Identifiant" maxWidth="85" >
            <ng-template  let-row="row" ngx-datatable-cell-template  >
                {{row.id_base_site}}
            </ng-template>
         </ngx-datatable-column>

         <ngx-datatable-column name="Taxon" maxWidth="350">
            <ng-template  let-row="row" ngx-datatable-cell-template  >
                {{row.nom_taxon}}
            </ng-template>
         </ngx-datatable-column>
         
         <ngx-datatable-column name="Nombre de visites" maxWidth="120">
            <ng-template  let-row="row" ngx-datatable-cell-template  >
                {{row.base_site.t_base_visits.length}}
            </ng-template>
         </ngx-datatable-column>

         <ngx-datatable-column name="Date de la dernière visite" maxWidth="160" >
            <ng-template  let-row="row" ngx-datatable-cell-template >
                {{row.date_max}}
            </ng-template>
         </ngx-datatable-column>

         <ngx-datatable-column name="Organisme" maxWidth="190" >
            <ng-template  let-row="row" ngx-datatable-cell-template >
                {{row.nom_organisme}}
            </ng-template>
         </ngx-datatable-column> -->

         <ngx-datatable-column maxWidth="90">
            <ng-template  let-row="row" ngx-datatable-cell-template>
               <button type="button" class="btn btn-info fa fa-eye" (click)="onInfo(row.id_base_site)" title="Visualiser">
               </button>
            </ng-template>
         </ngx-datatable-column> 
       
         
      </ngx-datatable>
  
      <div id="end-btn">
      
            <button type="button" class="btn btn-primary btn-sm box-shadow" id="download-btn"
            (click)="storeService.openIntesectionModal(loadContent)"> 
                     <i class="fa fa-download" aria-hidden="true"> </i>
                     Télécharger ces visites 
            </button>
         
      </div>

      <ng-template #loadContent id="modal-download" let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel"> Télécharger les données </h5>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span> 
               </button>
            </div>
            <div class="modal-body">
              <span > <b> Attention: </b> </span> <br>
              <span> Vous vous apprêtez à télécharger les données de  <b> toutes les visites </b>. </span><br>
              <br><br><br>
      
              <div class="export-btn">
               <button *ngFor="let format of storeService.exportFormat" class="buttonLoad"
                  (click)="onDownload(format)"
                 type="button"
                 class="btn btn-success format-btn">
                  Format {{format}}
                </button>
              </div>
      
            </div>
      </ng-template>

   </div>

</div>








