<div class="row row-0">
  <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
      <pnx-map
        height="80vh"
        [center]= "[44.982667966765845, 6.062455200884894]"
        [zoom]="12">
          <pnx-geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="zps">
          </pnx-geojson>
    </pnx-map>
  </div>


  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-">
    <h3> Zone de prospection</h3>
    <ngx-datatable
    class="material"
    [rows]="mapListService.tableData"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [scrollbarV]="false"
    [draggable]="false" 
    [selected]="mapListService.selectedRow"
    [externalPaging]="false" 
    [selectionType]="'single'"
    (select)="mapListService.onRowSelect($event)" >
    <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop">
            
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Visualiser"  width="50">
         <ng-template  let-row="row" ngx-datatable-cell-template>
             <button type="button" class="btn btn-info fa fa-eye" (click)="onInfo(row.id_base_site)">
             </button>
         </ng-template>
     </ngx-datatable-column>
    
     
   
</ngx-datatable>
  </div>

</div>








