<div class="row row-0">
  <!-- MAP  -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
    <pnx-map height="94vh">
      <pnx-geojson #geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="meshes">
      </pnx-geojson>
    </pnx-map>
  </div>

  <!-- INFO VISIT -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container detail-container">
    <mft-breadcrumbs></mft-breadcrumbs>

    <h3>
      <i class="fa fa-binoculars"></i>
      Informations de la visite
    </h3>

    <div>
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Identifiant du site :
          <span class="info"> {{ idSite }} </span>
        </li>
        <li class="list-group-item">
          <i class="fa fa-leaf" aria-hidden="true"></i>
          Espèce prospectée :
          <span class="info" [innerHTML]="sciname"></span>
        </li>
        <li class="list-group-item">
          <i class="fa fa-group" aria-hidden="true"></i>
          Observateur(s) :
          <span class="info"> {{ observersDisplay }} </span>
        </li>
        <li class="list-group-item">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Date de début de la visite :
          <span class="info"> {{ date_min }} </span>
        </li>
        <li class="list-group-item" *ngIf="date_max !== date_min">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Date de fin de la visite :
          <span class="info"> {{ date_max }} </span>
        </li>
        <li class="list-group-item">
          <i class="fa fa-warning" aria-hidden="true"></i>
          Perturbation(s) :
          <span class="info"> {{ perturbationsDisplay }} </span>
        </li>
        <li class="list-group-item">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          Maille(s) de présence :
          <span class="info"> {{ storeService.presence }} </span>
        </li>
        <li class="list-group-item">
          <i class="fa fa-ban" aria-hidden="true"></i>
          Maille(s) d'absence :
          <span class="info"> {{ storeService.absence }} </span>
        </li>
        <li class="list-group-item">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          Maille(s) non visitées :
          <span class="info"> {{ storeService.rest }} </span>
        </li>
        <li class="list-group-item">
          <i class="fa fa-comments" aria-hidden="true"></i>
          Commentaires :
          <span class="info"> {{ comments }} </span>
        </li>
      </ul>
    </div>

    <div id="end-btn">
      <pnx-modal-download
        [pathDownload]="configService.getExportUrl()"
        [exportFormat]="configService.get('export_available_format')"
        [queryString]="exportQueryString"
        labelButton="Télécharger cette visite"
      >
      </pnx-modal-download>

      <button
        type="button"
        class="btn btn-success box-shadow btn-sm"
        id="add-btn"
        (click)="onEditHere()"
      >
        <i class="fa fa-pencil-square-o" aria-hidden="true"> </i>
        Éditer cette visite
      </button>
    </div>

    <!-- OTHER VISITS  -->
    <h4>
      <i class="fa fa-search-plus"></i>
      Autres visites
    </h4>
    <div>
      <ngx-datatable
        class="material striped"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="35"
        [footerHeight]="40"
        [rowHeight]="'auto'"
        [messages]="configService.get('other_visits_list_messages')"
        [limit]="5"
        [sorts]="[{prop: 'visit_date_min', dir: 'desc'}]"
      >
        <ngx-datatable-column name="Voir" maxWidth="80">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              type="button"
              class="btn btn-info fa fa-eye"
              (click)="onInfo(row.id_base_visit)"
              title="Visualiser"
            ></button>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Éditer" maxWidth="80">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              type="button"
              class="btn btn-success fa fa-edit"
              (click)="onEditOther(row.id_base_visit)"
              title="Éditer"
            ></button>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          *ngFor="let col of configService.get('visits_datatable_columns')"
          [name]="col.name"
          [prop]="col.prop"
          [cellTemplate]="col.cellTemplate"
          [maxWidth]="col.width"
        >
        </ngx-datatable-column>

        <ng-template #observersCellTpl let-row="row" ngx-datatable-cell-template>
          <span title="{{ row.observersFull }}">{{ row.observers }}</span>
        </ng-template>
      </ngx-datatable>
    </div>
  </div>
</div>
