.info {
  font-size: 18px;
  font-family: Verdana;
  font-weight: bold;
}

.detail-container {
  max-height: 94vh;
  overflow-y: auto;
  padding-bottom: 5px;
}

.box-shadow {
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#end-btn {
  margin-top: 5px;
  margin-bottom: 30px;
}

#download-btn {
  margin-top: 5px;
  padding: 5px;
}

#add-btn {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
}

.export-btn {
  display: block;
  margin: auto;
}

.format-btn {
  margin-left: 5px;
}
