<div class="row row-0">
  <!-- MAP  -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
    <pnx-map height="94vh">
      <pnx-geojson
        #geojson
        [onEachFeature]="onEachFeature.bind(this)"
        [geojson]="zps">
      </pnx-geojson>

      <pnx-leaflet-filelayer
        [editMode]="false"
        (onLoad)="displayFileLayerInfoMessage()"
        [style]="{'color': storeService.sftConfig.map_gpx_color}">
      </pnx-leaflet-filelayer>
    </pnx-map>
  </div>

  <!-- FORMULAIRE  -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container form-sft">
    <h5 class="debLigne">
      <i class="fa fa-edit"></i>
      <b> Ajouter une visite / Editer cette visite </b>
    </h5>

    <div class="list-group-item">
      <i class="fa fa-map-marker fa-lg"></i>
      Zone de prospection :
      <span class="info"> {{ idSite }} </span>
    </div>

    <div class="list-group-item">
      <i class="fa fa-tree fa-lg"></i>
      Espèce prospectée :
      <span class="info"> {{nomTaxon}} </span>
    </div>

    <div class=" list-group-item modif">
      <div>
        <i class="fa fa-hourglass-2 fa-lg"></i>
        Date de la visite :
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-sm form">
        <pnx-date [parentFormControl]="modifGrid.controls.visit_date_min"></pnx-date>
      </div>
    </div>

    <div class=" list-group-item">
      <div>
        <i class="fa fa-group fa-lg"></i>
        Observateur(s) :
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 padding-sm form" id="newObserver" requir>
        <pnx-observers
          [parentFormControl]="modifGrid.controls.cor_visit_observer"
          [bindAllItem]="true"
          [idMenu]="storeService.sftConfig.id_menu_list_user">
        </pnx-observers>
      </div>
    </div>

    <div class=" list-group-item">
      <div>
        <i class="fa fa-warning fa-lg"></i>
        Perturbation(s) :
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 padding-sm form" id="newPerturs">
        <pnx-nomenclature
          [parentFormControl]="modifGrid.controls.cor_visit_perturbation"
          [multiSelect]="true"
          [bindAllItem]="true"
          keyValue="id_nomenclature"
          keyLabel="label_default"
          codeNomenclatureType="TYPE_PERTURBATION">
        </pnx-nomenclature>
      </div>
    </div>

    <div class=" list-group-item">
      <div>
        <i class="fa fa-comments fa-lg"></i>
        Commentaires :
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-sm form">
        <textarea
          class="form-control"
          rows="2"
          id="commentaire"
          [formControl]="modifGrid.controls.comments"></textarea>
      </div>
    </div>

    <div class="list-group-item">
      <i class="fa fa-leaf fa-lg"></i>
      Maille(s) de présence :
      <span class="info nbGrid" id="nbPres">
        {{storeService.presence}}
      </span>
    </div>

    <div class="list-group-item">
      <i class="fa fa-ban fa-lg"></i>
      Maille(s) d'absence :
      <span class="info nbGrid" id="nbAbs">
        {{storeService.absence}}
      </span>
    </div>

    <div class="list-group-item">
      <i class="fa fa-question-circle fa-lg"></i>
      Maille(s) non visitées :
      <span class="info nbGrid" id="nbRest">
        {{storeService.rest}}
      </span>
    </div>
    <br/>

    <!-- FOOTER -->
    <div>
      <button
        class="btn btn-info btn-sm clickable"
        matTooltip="Comment modifier ?"
        (click)="storeService.openModal(content)">
        <i class="fa fa-question-circle"></i>
        Aide
      </button>

      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title"> Pour saisir les mailles : </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p class="col-list">
            <span id="left" class="strong"> Clic gauche </span> :
            L'espèce suivie est présente sur cette maille.
          </p>
          <p class="col-list">
            <span id="right" class="strong"> Clic droit </span> :
            L'espèce suivie est absente sur cette maille. </p>
          <p class="col-list">
            <span id="dbcl" class="strong"> Double clic </span> :
            Cette maille n'est pas encore visitée.
          </p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="c('Close click')">
            Fermer
          </button>
        </div>
      </ng-template>

      <button
        class="btn btn-success btn-sm p-1 mx-2 mr-2 float-right"
        (click)="onModif()"
        [disabled]="modifGrid.invalid">
          <i class="fa fa-floppy-o"></i>
          Enregistrer
      </button>

      <button
        class="btn btn-primary btn-sm p-1 mx-2 mr-2 float-right"
        (click)="onVisual()">
        <i class="fa fa-ban"></i>
        Annuler
      </button>
    </div>
  </div>
</div>
