.fa-lg {
  font-size: 18px;
}

.info {
  font-size: 20px;
  font-family: Verdana;
  font-weight: bold;
}

.nbGrid {
  padding-left: 10px;
}

#comment {
  margin-top: 5px;
  padding: 5px;
}

.debLigne {
  margin-left: 9px;
}

#left {
  color: #008000;
}

#right {
  color: #8b0000;
}

#dbcl {
  color: #3388ff;
}

.strong {
  font-weight: bold;
}

.form {
  margin-left: 9px;
}

.form-sft {
  max-height: 94vh;
  overflow-y: auto;
  padding-bottom: 5px;
}
