.btn btn-warning {
  float: right;
}

.info {
  font-size: 18px;
  font-family: Verdana;
  font-weight: bold;
}

.nbGrid {
  padding-left: 10px;
}

#comment {
  margin-top: 5px;
  padding: 5px;
}

.droite {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
}

.debLigne {
  margin-left: 9px;
}

#left {
  color: #008000;
}

#right {
  color: #8b0000;
}

#dbcl {
  color: #3388ff;
}

.strong {
  font-weight: bold;
}

.form {
  margin-left: 9px;
}

.toto {
  margin-top: 200px;
}

#instru {
  font-size: 18px;
  font-weight: bold;
}
