<div class="row row-0">
   <!-- MAP  -->
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
      <pnx-map height="94vh">
         <pnx-geojson #geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="zps">
         </pnx-geojson>
      </pnx-map>
   </div>

   <!-- INFO VISIT -->
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container detail-sft">
      <h5>
         <i class="fa fa-binoculars"></i>
         <b> Informations de la visite </b>
      </h5>
      <div>
         <ul class="list-group">
            <li class="list-group-item">
               <i class="fa fa-map-marker fa-lg"></i>
               Zone de prospection :
               <span class="info"> {{ idSite }} </span>
            </li>
            <li class="list-group-item">
               <i class="fa fa-tree fa-lg"></i>
               Espèce prospectée :
               <span class="info"> {{nomTaxon}} </span>
            </li>
            <li class="list-group-item">
               <i class="fa fa-group fa-lg" ></i>
               Observateur(s) :
               <span class="info"> {{observers}} </span>
            </li>
            <li class="list-group-item">
               <i class="fa fa-calendar fa-lg"></i>
               Date de la visite :
               <span class="info"> {{date}} </span>
            </li>
            <li class="list-group-item">
               <i class="fa fa-warning fa-lg"></i>
               Perturbation(s) :
               <span class="info" *ngFor="let per of tabPertur"> {{per}} </span>
            </li>
            <li class="list-group-item">
               <i class="fa fa-leaf fa-lg"></i>
               Maille(s) de présence :
               <span class="info"> {{storeService.presence}} </span>
            </li>
            <li class="list-group-item">
               <i class="fa fa-ban fa-lg"></i>
               Maille(s) d'absence :
               <span class="info"> {{storeService.absence}} </span>
            </li>
            <li class="list-group-item">
               <i class="fa fa-question-circle fa-lg"></i>
               Maille(s) non visitées :
               <span class="info"> {{storeService.rest}} </span>
            </li>
            <li class="list-group-item">
               <i class="	fa fa-comments fa-lg"></i>
               Commentaires :
               <span class="info"> {{comments}} </span>
            </li>
         </ul>
      </div>

      <div id="end-btn">
         <pnx-modal-download
            [pathDownload]='storeService.urlLoad'
            [exportFormat]='storeService.sftConfig.export_available_format'
            [queryString]='storeService.queryString'
            labelButton='Télécharger cette visite'>
         </pnx-modal-download>

         <button
            type="button"
            class="btn btn-success box-shadow btn-sm "
            id="add-btn"
            (click)="onEditHere()">
            <i class="fa fa-pencil-square-o" aria-hidden="true"> </i>
            Éditer cette visite
         </button>
      </div>

      <!-- OTHER VISITS  -->
      <h5>
         <i class="fa fa-search-plus"></i>
         <b> Les autres visites </b>
      </h5>
      <div>
         <ngx-datatable
            class="material"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="6"
            [messages]="storeService.sftConfig.detail_list_visit_message">

            <ngx-datatable-column
               name="Voir"
               maxWidth="100">
               <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                     type="button"
                     class="btn btn-info fa fa-eye"
                     (click)="onInfo(row.id_base_visit)"
                     title="Visualiser">
                  </button>
               </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
               name="Éditer"
               maxWidth="100">
               <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                     type="button"
                     class="btn btn-success fa fa-edit"
                     (click)="onEditOther(row.id_base_visit)"
                     title="Éditer">
                  </button>
               </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
               *ngFor="let col of storeService.sftConfig.default_list_visit_columns"
               [name]="col.name"
               [prop]="col.prop"
               [cellTemplate]="col.cellTemplate"
               maxWidth="220">
            </ngx-datatable-column>

            <ng-template #observersCellTpl let-row="row" ngx-datatable-cell-template>
               <span title="{{ row.observersFull }}">{{ row.observers }}</span>
            </ng-template>
         </ngx-datatable>
      </div>
   </div>
</div>
