<div class="row row-0">
   <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
      <pnx-map height="80vh">
         <pnx-geojson #geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="zps">
         </pnx-geojson>
      </pnx-map>
   </div>

       
   <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
      <h5> <i class="fa fa-binoculars"> <b> Informations pratiques de cette visite </b></i></h5>
      <div class="modal-body">
         <ul class="list-group">
            <li class="list-group-item">  <i class="fa fa-map-marker" style="font-size:21px" >
               Zone de prospection:  <span class="info"> {{ idSite }}  </span>   </i> </li>
            <li class="list-group-item"> <i class="fa fa-leaf" style="font-size:21px"> 
               Espèce prospectée : <span class="info"> {{nomTaxon}} </span> </i> </li> 
            <li class="list-group-item"> <i class="fa fa-tags" style="font-size:21px">  
               Identifiant de la visite : <span class="info"> {{idVisit}} </span> </i></li>
            <li class="list-group-item"> <i class="fa fa-group" style="font-size:21px">  
               Observateur : <span class="info"> {{observer}} </span> </i></li>  
            <li class="list-group-item"><i class="fa fa-calendar" style="font-size:21px">  
               Date de la dernière visite : <span class="info"> {{date}} </span> </i> </li>
            <li class="list-group-item"><i class="fa fa-warning" style="font-size:21px">  
               Type de perturbation : <span class="info" *ngFor="let per of tabPertur" > {{per}} </span> </i> </li>              
            <li class="list-group-item"><i class="fa fa-paw" style="font-size:21px">  
               Maille(s) présente(s) d'espèce : <span class="info"> {{comptePresent}} </span> </i> </li>
            <li class="list-group-item"><i class="fa fa-ban" style="font-size:21px">  
               Maille(s) absente(s) d'espèce : <span class="info"> {{compteAbsent}} </span> </i> </li>
         </ul>
      </div>
   </div>
</div>
               