<pnx-map height="80vh"> 
  <!-- <pnx-marker
  zoomLevel=6> </pnx-marker>   -->
<!-- le pnx-marker permet d'afficher un marker au clic sur la carte,
  et un controleur pour afficher/ désafficher le marker (en haut à gauche)
Pourquoi 6? -->
  <!-- <pnx-gps
  zoomLevel=6> </pnx-gps> -->
  <!-- ce composant hérite du composant MarkerComponent => même input et output -->

  
  <pnx-geojson [geojson]="myGeojson"
  [onEachFeature]="onEachFeature.bind(this)"
  > </pnx-geojson>
<!-- ce selector affiche sur la carte les geojson passé en input -->
<!-- la fonction bind() crée une nouvelle fonction qui, lorsqu'elle est appelée, 
a pour contexte this la valeur passée en paramètre et éventuellement une suite d'arguments 
qui précéderont ceux fournis à l'appel de la fonction créée -->
</pnx-map>   